doctype
html
 style
      include style.css
      script(src='/pug/app.js')
body
  div(class="nav") Presencebot Admin page
  div(class="sider") 
  
  h2 welcome sir Admin!
  h3 This view is generated with pug
  
  p current RandomNr is: #{randomNr}
  p current excell position is: #{excellPos} 
  p current SheetId is: #{sheetId}
  input(type="text" id="sheetText" placeholder="SheetId") 
  button(class="btnCool" click="SaveSheetId()") Save
